.main_subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    font-weight: 700px;
    line-height: 23px;
    text-align: center;
    width: 79px;
    margin-left: 134px;
    margin-top: 0px;
}
