.mainsubtitle3 {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 20px;
  font-weight: 700px;
  line-height: 23px;
  text-align: center;
  width: 413px;
  position: absolute;
  left: 160px;
  top: 1221px;
}
