.mainsubtitle2 {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 20px;
  font-weight: 700px;
  line-height: 23px;
  text-align: center;
  width: 238px;
  position: absolute;
  left: 238px;
  top: 1119px;
}
