.dostavka4{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  list-style: 28px;
  text-align:center;

  width: 561px;
  height: 31px;
  position: absolute;
  top: 2021px;
  left: 179px;
}
