.dostavka{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  list-style: 23px;
  text-align:center;

  width: 441px;
  height: 72px;
  margin-left: 18px;
  margin-top: 28px;
}
