.footer{
max-height: 881px;
min-height: 881px;
max-width: 1280px;
min-width: 1280px;
margin-top: 55px;
background-image: url('/images/contactinf.png');
background-repeat: no-repeat;
background-size: 100%;
}
