.lists{
    display: flex;
    justify-content: space-between;
    top:62px;
    list-style-type: none;
    padding:0px;
    margin: 0px;
  }
  .lists li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
  }
  .lists li a:hover{
    text-decoration: none;
    color:blue;
  }
  li > ul {
    position:absolute;
    top:25px;
    display:none;
  }


