.lists{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding:0px;
    margin-left: 144px;
    top: 62px;
  }
  .lists li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
  }
  .lists li a:hover{
    text-decoration: none;
    color:blue;
  }
  li > ul {
    position:absolute;
    top:25px;
    display:none;
  }
  .lists li{
    list-style-type: none;
    float: left;
    margin: 0 34px;
  }


